.body{
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif; 
	color: #C1B8B8;
}

.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: .8rem;
	letter-spacing: .1rem;	
	background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img{
	height: 2rem;
}

.navbar-nav li{
	padding-right: .7rem;
}

.navbar-nav .nav-item .dropdown .dropdown-menu{
	background: rgba(0, 0, 0, 0.6);
}

.navbar-nav .nav-item .dropdown-menu a:hover{
	background-color: rgba(0, 0, 0, 0.6);
}

.navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item{
	text-transform: uppercase;
	font-size: .9rem;
	letter-spacing: .1rem;
}

.logo{
	font-family:  'Berkshire Swash', cursive;
	color: #fff;
	text-shadow: .1rem .1rem .8rem black;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;	
	padding-top: .8rem;
}

.bgimg{
	background-image: url(images/hand.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	height: 650px;
	opacity: .9;
}

.headerset{
	padding-top: 270px;
	box-sizing: border-box;
}

.headerset h1{
	padding-bottom: 10px;
	font-size: 72px;
	font-weight: bold;
	text-shadow: .1rem .1rem .8rem black;
}

/*about-area*/

.aboutus{
	padding-top: 400px;
	background-size: 100% 100%;
}

.about-content{
	height: 400px;
	display: flex;
	background-size: cover;
	background-position: center;
}

.about-right {
	padding-top: 50px;
	padding-left: 30px;
}

.about-left img{
	width: 500px;
	padding-right: 50px;
}

.about-right p{
	line-height: 1.5;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.about-right h4{
	padding-left: 22px;
}

.section-title{
	text-transform: uppercase;
	font-weight: bold;
}

/* SErvies area*/

.services{
	padding: 80px 0px 60px;
	height: 800px;
	background-size: cover;
}

.services h1{
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
}

.rowsetting{
	margin: 100px 0px !important;
}

.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.fa-car{
	margin-top: 20px;
}

.rowsetting h4{
	margin-top: 25px;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 25px;
}

.product-pic img{
	width:100px;
	border-radius: 50%;
}

.jumbotron{
	margin-bottom: 0rem !important;
}

.lab-menu a{
	list-style: none;
	float: none;
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	cursor: pointer;
}

.services .dropdown{
	position: relative;
	display: inline-block;
}

.services .dropdown-menu a:hover {
  background-color: #C9C3C3;
}

.dropdown:hover .dropdown-menu {
  display: block;

}


 .services .dropdown-menu{
	background-color: #EAE6E6; 
	display: none;
	position: absolute;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.services .dropdown .btn{
  font-size: 16px;
  border: none;
  outline: none;
  padding: 13px 16px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; 
}

.services .dropdown .dropdown-menu .dropdown-item{
	font-size: 15px;
}

/*gallery*/

.gallery h2{
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 30px;
}

.gallery{
	height: 600px;
}


/*contact-area*/

.contact-area{
	height: 1150px;
	padding: 80px 0px 60px;
	
}

.contact-area h1{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
}

.single-contact{
	margin: 100px 0px !important;
}

.contacts, .single-contact a{
	color: white;
}

.icons p{
	padding: 20px;
}

.icons-link a{
	padding: 5px;
}

.icons-link i:hover{
	transform: scale(2);
}

.icons-link{
	padding-top: 40px;
}

.contacts h4{
	padding-bottom: 10px;
}

/* Style inputs with type="text", select elements and textareas */
 textarea {
  width: 100%; /* Full width */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/*copyright*/

hr.socket{
	width: 100%;
	border-top: .2rem solid #666b71;
	margin-top: 2rem;
}

/*Responsive */
@media(min-width: 992px ){

}

@media(min-width: 768px) and (max-width: 991px){

}

@media(min-width: 575px) and (max-width: 767px){
		.about-content{
		height: 800px;
	}

	.contact-area{
	height: 1150px;
	}
}

@media(min-width: 480px) and (max-width: 574px){
	.navbar-nav .nav-item .dropdown-menu {
		text-align: center;
		font-size: .9rem;
	}

	.about-content{
	height: 800px;
	}

	.services{
	height: 1550px;
 	}
	

	.product-pic{
		padding : 20px;
	}

	.product-pic .dropdown{
		padding-bottom: 30px;
	}

	.contact-area{
	height: 2000px;
	}

	.contact-area .icons p{
		text-align: center;
	}

	.contacts h4{
		padding-top: 70px;
	}

	.icons p{
	text-align: left;
	}

	.icons-link a{
		padding-bottom: 5px;
	}

	.form-group{
		padding-top: 30px; 
	}
}
	
@media(max-width: 479px){

	.navbar-nav .nav-item .dropdown-menu {
		text-align: center;
	}

	.about-content{
		height: 800px;
	}

		.services{
	height: 1600px;
 	}

	
 	.product-pic{
		padding : 40px;
	}

	.product-pic .dropdown{
		padding-bottom: 20px;
	}

 	.contact-area{
	height: 2000px;
	}

	.contacts h4{
		padding-top: 70px;
	}


	.icons-link a{
		padding-bottom: 5px;
	}

	.form-group{
		padding-top: 30px; 
	}
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
 }

	.carousel-inner .carousel-item-right,
	.carousel-inner .carousel-item-left{ 
	  transform: translateX(0);
	}

